body,* {
    margin: 0;
    padding: 0;
    background-color: black;
    overflow-x: hidden;
}

main .div1{
    width: 62vw;
    height: 50vh;
    background: none;
    position: absolute;
    top: 7vw;
    left: 37vw;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Caveat', cursive;
    font-size: 45px;
    color: gold;
}
main .image {
    width: 25vw;
    height: 49vh;
    position: absolute;
    top: 7vw;
    left: 10vw;
    background: url(img/programmer.jpg);
    background-size: cover;
    border-radius: 50%;
    animation: 2s profile;  
    animation-timing-function: ease-in-out;
}
@keyframes profile {
    0% {
        opacity: 0;
        transform: translateX(-170px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
        animation-play-state: paused;
    }
}

.div2 {
    width: 100vw;
    height: 50vh;
    background: none;
    position: absolute;
    top: 100vh;
    color: black;
    font-family: 'Kalam', cursive;
}
.div2 p {
    text-align: center;
    padding-top: 10px;
    font-size: 40px;
    animation: 1.5s bounce infinite;
    animation-timing-function: ease-in-out;
    color: gold;
    background: none;
}

@keyframes bounce {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }
    50% {
        opacity: 1;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
.div2 .contentindiv2 {
    width: 100vw;
    height: 33vh;
    background: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.div3 {
    width: 100vw;
    height: 80vh;
    background: none;
    position: absolute;
    top: 160vh;
    color: black;
    font-family: 'Kalam', cursive;
}
.div3 p{
    text-align: center;
    padding-top: 10px;
    font-size: 40px;
    animation: 1.5s bounce2 infinite;
    animation-timing-function: ease-in-out;
    color: gold;
    background: none;
}
@keyframes bounce2 {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }
    50% {
        opacity: 1;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
.div3 .contentindiv3{
    width: 100vw;
    height: 70vh;
    background: skyblue;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* overflow: none; */
}
.contentindiv3 .firstImage {
    position: relative;
    background-size: cover;
    width: 30vw;
    height: 50vh;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
}
.firstImage .overlay1 {
    position: absolute;
    bottom: 0px;
    transition: 1s;
    animation-timing-function: ease-in-out;
}
.firstImage .overlay1 {
    width: 100vw;
    height: 0vw;
    text-align: center;
    padding-top: 40px;
}
.firstImage:hover {
    .overlay1 {
        width: 30vw;
        height: 20vh;
        background-color: teal;
        opacity: 1;
    }
}
.firstImage a {
    margin-top: 30px;
    background: none;
    text-align: center;
    font-size: 16px;
    color: white;
    font-family: sans-serif;
    opacity: 1;
    text-decoration: none;
    animation-timing-function: ease-in-out;
    transition: 0.5s;
}
.firstImage a:hover {
    color: maroon;
    font-size: 18px;
}
.overlay1 strong {
    background: none;
    font-size: 25px;
}

@media (max-width: 912px) {
    main .image {
        width: 45vw;
        height: 30vh;
    }
    main .div1 {
        width: 80vw;
        position: absolute;
        top: 240px;
        font-size: 55px;
        left: 10vw;
    }
    .div2 {
        position: absolute;
        top: 70vh;
    }
}
@media (max-width : 900px) {
     main .div1 {
        position: absolute;
        top: 30vw;
        left: 5vw;
        width: 90vw;
        font-size: 55px;
    }
    main .image {
        width: 50vw;
        height: 35vh;
    }
    .div2 {
        position: absolute;
        top: 70vh;
    }
}
@media (max-width : 653px) {
    body,*{
        padding: 0;
        margin: 0;
    }
    main .div1 {
       position: absolute;
       top: 40vw;
       left: 5vw;
       width: 90vw;
       font-size: 45px;
   }
   main .image {
       width: 30vw;
       height: 55vh;
   }
   .div2 {
       position: absolute;
       top: 100vh;
   }
}

@media (max-width: 540px) {
    main .div1 {
        position: absolute;
        top: 200px;
        font-size: 30px;
    }
    main .image {
        width: 45vw;
        height: 35vh;
    }
}
@media (max-width: 500px) {
    body,* {
        margin: 0;
        padding: 0;
    }
    main .div1 {
        width: 80vw;
        position: absolute;
        top: 45vw;
        left: 0;
        width: 100vw;
        font-size: 30px;
    }
       main .image {
        width: 55vw;
        height: 30vh;
        position: absolute;
        top: 7vw;
        left: 10vw;
        display: block;
    }
    .div2 {
        position: absolute;
        top: 70vh;
    }
}
